@model List<VuiwModels.PedidoViewModel>;
@{
    ViewData["Title"] = "Home Page";
}

    <h1>Lista con los Pedido Pendientes</h1>

    <table class="table table-dark">

    <thead >
        <th>Numero Pedido</th>
        <th>Pedido</th>
        <th>Estado</th>
        <th>cliente</th>
        <th>Eliminar</th>
        <th>Actualizar</th>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Numero</td>
            <td>@item.Obs </td>
            <td>@item.Estado</td>
            <td>@item.Cliente.Nombre</td>
            <td class="primary mb-3"> @Html.ActionLink("Delete", "delete", new { Numero=item.Numero,Id = item.Cliente.Id }) </td>
            <td class="primary mb-3"> @Html.ActionLink("Update", "Edit", new { Numero=item.Numero}) </td>
        </tr>
    }

    </table>
        