@model VuiwModels.Mapper;
@{
    ViewData["Title"] = "Home Page";
}

    <h3>Asignar Pedido</h3>

    <form  method="post" class=" w-50 mx-auto" asp-controller="Cadete" asp-action="delegar">

            <div class="form-group mt-1 mb-1">
                <label for="itemList">Lista</label>
                <select>
                    <option value="Seleccionar" selected>Seleccione el Cadete</option>
                    @foreach (var item in @Model.ListaCadete)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>
            </div>   
            <div class="form-group mt-1 mb-1">
                <label for="itemList">Lista</label>
                <select>
                    <option value="Seleccionar" selected>Selecione el Pedido</option>
                    @foreach (var item in @Model.ListaPedido)
                    {
                        <option value="@item.Numero">@item.Obs - @item.Cliente.Direccion</option>
                    }
                </select>
            </div>            
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Enviar</button>
            </div>          
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}