@model List<VuiwModels.CadeteUpdateViewModel>;
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1 m-2">
            <li class="nav-item">
                  <a class="nav-link btn btn-link" asp-area="" asp-controller="Cadete" asp-action="Alta">Alta Cadete</a>
            </li>
        </ul>
    </div>
</div>

        
    <table class="table table-dark">

        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Asignar Pedido</th>
            <th>Pedidos</th>
            <th>Borrar</th>
            <th>Actualizar</th>
        </thead>

        @foreach (var item in Model)
        { 
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
                <td>@item.Telefono</td>
                <td>@Html.ActionLink("Asignar", "asignarPedido","Pedido", new { Id = item.Id })</td>
                <td>@Html.ActionLink("Pedidos", "VerPedidos", new { Id = item.Id })</td>
                <td>@Html.ActionLink("Delete", "delete", new { Id = item.Id })</td>
                <td>@Html.ActionLink("Updata", "edit", new { Id = item.Id })</td>
        </tr>
        }

    </table>